.forward-backward-buttons-container {
    display: flex;
    justify-content: space-between;
}

.forward-backward-buttons {
    padding: 7px 7px;
    margin: 0 clamp(5px, 40px, 45px);
    font-size: clamp(15px, 0.85vw, 30px);
    color: #f42e2e;
}

.forward-backward-buttons:hover {
    color: #d63e3e;
    text-decoration: underline;
}

.forward-backward-arrows {
    height: 0.8vw;
    width: 0.8vw;
}

.lesson {
    height: 100%;
    margin: 0 27.5%;
    display: flex;
    flex-direction: column;
}

.lesson-subject {
    font-size: 3.5vw;
    letter-spacing: 0.25vw;
    margin: 1.5% 0;
}

.chapter-lesson-number {
    font-size: clamp(13px, 0.8vw, 22px);
    margin: 1.5% 0;
    color: rgb(122, 122, 122);
}

.main-lesson-text {
    font-size: clamp(15px, 1.1vw, 30px);
    line-height: 1.6vw;
    letter-spacing: 0.03vw;
    display: flex;
    flex-direction: column;
}

.lesson-image {
    margin: 70px 100px;
    justify-self: center;
}

.lesson-table {
    margin: 70px 100px;
    justify-self: center;
    font-family: 'Roboto Mono', monospace;
}

.lesson-table,
tr,
td {
    border: 1px solid;
    border-collapse: collapse;
}

.sound-button img {
    cursor: pointer;
    position: relative;
    top: 4px;
    left: 12px;
}

.sound-double-letters img {
    left: 0px;
}