.display{
    display:flex;
    justify-content: space-around;
}

.kurs_text {
    display: flex;
    flex-direction: column;
}

.kurs{
    margin: 20px;
    padding: 15px;
    width: clamp(400px, 40vw, 750px);
    font-size: 1.1vw;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color:#f42e2e;
    background-color: white;
    font-size:medium;
    transition: transform 0.3s ease 0s;
}
.kurs:hover{
    transform: scale(105%);
}
.kurs1{
    font-size: 18px;
    color:#c39712;
}
.kurs2{
    font-size: 18px;
    color:black;
}
.kurs2 a{
    color:rgb(188, 18, 188);
}
.kurs_logo{
    margin-top: 15px;
}
.kurs_logo img{
    width: 450px;
    height: 450px;
}
.linki{
    color:black;
    font-size:large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.linki a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 5px;
}
.linki img{
    padding-top: 2px;
    width: 40px;
    height: 40px;
}
.linki a img {
    margin-right: 10px;
}

@media (max-width: 660px) {
    .display {
        align-items: center;
    }

    .kurs {
        border: none;
        margin: 0 30px;
        padding: 0;
        width: calc(100% - 60px);
    }

    .kurs_logo {
        display: none;
    }

    .kurs1,
    .kurs2 {
        font-size: 25px;
    }

    .kurs:nth-child(2) {
        margin-bottom: 30px;
    }
}